doctype html
html(ng-app='enlighTN', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title enlighTN
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/vendor/snapjs/snap.css', rel='stylesheet')
    link(href='/vendor/angular-snap/angular-snap.min.css', rel='stylesheet')
    link(href='/vendor/ng-table/ng-table.min.css', rel='stylesheet')
    link(href='/vendor/toastr/toastr.min.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
    link(href='/nav.css', rel='stylesheet')
    link(href='/components/directives/en-map/en-map.css', rel='stylesheet')
    link(href='/components/directives/en-locate/en-locate.css', rel='stylesheet')
    link(href='/views/home/home.css', rel='stylesheet')
    link(href='/views/location/location.css', rel='stylesheet')
    link(href='/views/locations/locations.css', rel='stylesheet')
    link(href='/views/splash/splash.css', rel='stylesheet')
    link(href='/components/directives/kj-parse/kj-parse.css', rel='stylesheet')
  body
    include nav
    snap-content.container-fluid
      .row.header-container(ng-controller='HomeCtrl')
        .col-xs-10.header
          h1.title {{art}} City, USA
          h5.subtitle There is more to Nashville than Music.
          button.btn.btn-default#menu(snap-toggle=''): i.fa.fa-fw.fa-bars.fa-2x
        .col-xs-2
      .row#container(ng-view)
        .col-xs-1

    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/snapjs/snap.js')
    script(src='/vendor/angular-snap/angular-snap.min.js')
    script(src='/vendor/ng-table/ng-table.min.js')
    script(src='/vendor/angular-sanitize/angular-sanitize.min.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/toastr/toastr.min.js')
    script(src='/vendor/localforage/dist/localforage.js')
    script(src='/vendor/angular-localforage/dist/angular-localForage.js') 
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyANcr_9Ku36Y9xZ3UoISclGCKhIW7p-0bc&sensor=true&v=3&libraries=geometry')
    script(src='/index.js')
    script(src='/nav.js')
    script(src='/views/home/home.js')
    script(src='/views/splash/splash.js')
    script(src='/views/dashboard/dashboard.js')
    script(src='/views/event/event.js')
    script(src='/views/location/location.js')
    script(src='/views/locations/locations.js')
    script(src='/views/login/login.js')
    script(src='/views/logout/logout.js')
    script(src='/views/register/register.js')
    script(src='/components/factories/home.js')
    script(src='/components/factories/http-interceptor.js')
    script(src='/components/factories/location.js')
    script(src='/components/factories/reflection.js')
    script(src='/components/factories/event.js')
    script(src='/components/factories/user.js')
    script(src='/components/directives/en-map/en-map.js')
    script(src='/components/directives/en-locate/en-locate.js')
    script(src='/components/directives/kj-parse/kj-parse.js')


