@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600,800);

@bold-wt: 800;
@semi-wt: 600;
@norm-wt: 400;
@lite-wt: 300;

body{
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}
.container-fluid {
  background-color: #fff;
}
#menu.btn, #menu.btn:hover, #menu.btn:focus {
  background-color: transparent;
  border: none;
  position: relative;
  left: -10px;
  bottom: 160px;
  outline: none;
  z-index: 100;
  color: white;
}
#menu p {
  font-size: 18px;
  font-weight: lighter;
}
.header-container {
    border-bottom: 2px solid #5A965D;
    background-color: #72BE75;

  .header {
    height: 150px;
    margin-bottom: 40px;

    .title {
      font-size: 6em;
      text-align: right;
      color: white;
    }
    .subtitle {
      font-size: 30px;
      text-align: right;
      color: white;
      font-weight: lighter;
    }
  }
}
