.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') enlighTN

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href='/#/') Splash
        li: a(href='/#/home') Home
        li: a(href='/#/dashboard') Dashboard
        li: a(href='/#/event/3') Event 3
        li: a(href='/#/location/index') Locations
        li: a(href='/#/location/85') Location 85

