.snap-drawer
  ul.nav.navbar-nav#navigation
    li
      a(href='javascript.void(0)') {{email}}
    li
      a(href='/') enlighTN
    li
      a(href='/#/logout') Login
    li
      a(href='/#/splash') Splash
    li
      a(href='/#/home') Home
    li
      a(href='/#/dashboard') Dashboard
    li
      a(href='/#/locations') Locations
    li
      a(href='/#/events/541499095ffde801d2311eaa') Event Example
    li
      a(href='/#/locations/a00000000000000000000001') Location example
