#splash {

  .hidden-forms {
    overflow: visible;
    height: 40px;
    position: relative;
    bottom: 50px;

    .register{
      h3 {
        position: relative;
        bottom: 15px;
        text-align: right;
      }
      h3:hover, h3:active {
        cursor: pointer;
      }
    }
    .login{
      h3 {
        position: relative;
        bottom: 15px;
        text-align: left;
      }
      h3:hover, h3:active {
        cursor: pointer;
      }
    }
  }

  .map-img {
    width: 100%;
    height: 800px;
    border: 1px solid black;
    background-color: lightblue;
  }


}
