@import '../../variables.less';

#location {

  .left-column {

    .loc-title {
      width: 100%;
      padding-left: 40px;
      color: @lite-red;
      margin: 20px 0 0;
      font-size: 3em;
    }
    .interact-btns {

      list-style: none;
      display: inline;

      li a {
        color: @lite-red;
        font-size: 2em;
      }
      li a:hover, li a:active {
        color: lighten(@purple, 5%);
        background-color: transparent;
        text-decoration: none;
        font-size: 2em;
      }
      #favorite {
        position: relative;
        left: 465px;
        bottom: 20px;
        z-index: 90;
      }
      #comment {
        left: 510px;
        position: relative;
        bottom: 62px;
        z-index: 100;
      }
    }
    #info {
      padding: 0 40px;
      margin-top: -70px;
    }
    #description {
      padding: 60px 40px;
      font-size: 20px;
    }
  }
  .events {
    h2 {
      color: @lite-red;
      margin: 70px 5px 0;
      font-weight: @lite-wt;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 10px;

      li {
        font-size: 18px;
        color: @dkturquiose;
      }
    }
  }

  #slides_control > div{
    height: 200px;
    width: 90%;
    margin: 0 auto;
    img{
      margin:auto;
      width: 400px;
    }
    .glyphicon{}
    .reflection {
      width: 33.3333%;
      float: left;
      height: 400px;
      padding: 40px;
      text-align: left;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
    .slide {
      height: 400px;
    }
    .carousel-control:hover, .carousel-control:focus {
      opacity:.5;
      color: inherit;
    }

    a.carousel-control.left {
      margin-left: -100px;
    }

    a.carousel-control.right {
      margin-right: -100px;
    }

    a.carousel-control.left, a.carousel-control.right {
      background-image: none;
    }
    .reflection-badge {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
  }
}
