#location
  .col-xs-6.left-column
    h2.loc-title {{title}}
    ul.interact-btns
      li: a#favorite(href='javascript:void(0)', ng-click='favorite()'): i.fa.fa-fw(ng-class='{\'fa-heart\': fav === true, \'fa-heart-o\': fav === false}')
      li: a#comment(href='javascript:void(0)', ng-click='open(\'lg\')'): i.fa.fa-fw.fa-comment
    #info
      h3 {{loc.address}}
    #description
      p {{loc.description}}
  .col-xs-6.events
      h2 Events
      #events-list
        ul
          li: a(href='/#/events/{{event._id}}', ng-repeat='event in occasions') {{event.name}}
  .row
    #slides_control
      div
        carousel.carousel(interval='myInterval')
          slide.slide(ng-repeat='(key, value) in slides')
            .reflection(ng-repeat='reflect in value')
              h3 {{reflect.type}}
              img.reflection-badge(ng-src='{{reflect.img}}')
              p.text-center {{reflect.user}}
              h3 {{reflect.title}}
              .think
                p {{reflect.blurb}}
              .vote
                a(href='javascript:void(0)', ng-click='castVote($parent.$index, $index)'): i.fa.fa-fw.fa-5x(ng-class='{\'fa-star\': reflect.vote === true, \'fa-star-o\': reflect.vote === false}')
