.modal-header
  h1 I'm a Reflection!
.modal-body
  h3 Write your story here.
  h3 {{$scope.loc}}
.modal-footer
  button.btn.btn-primary(ng-click='ok()') OK
  button.btn.btn-warning(ng-click='cancel()') Cancel
