h3.text-center Upcoming Events
.col-xs-1
.col-xs-10
  .events(ng-repeat='event in events')
    p {{event.name}}
      p {{event.type}}
.col-xs-1
.row.trending
  .col-xs-6.twitter
    h4.text-center Twitter Feed Here!
  .col-xs-6.rss-feed
    h4.text-center RSS Feed Here!


