#home
  .row.bkgrd-img.opacity
    h1 Upcoming Events
    .col-xs-1
    .col-xs-10.current
      .col-xs-1
      .events.col-xs-10
        h4: a(href='/#/events/{{event._id}}', ng-repeat='event in events') {{event.name}}
          p {{event.dates[0].date | date:'MMMM dd'}} at {{event.dates[0].startTime}}
          br
      .col-xs-1
    .col-xs-1
  .row.trending
    .col-xs-1
    .col-xs-5.twitter
      .col-xs-3
        h2.twitter-header Twitter
      .col-xs-7
    .col-xs-5.rss-feed
      .col-xs-3
        h2.rss-header RSS&nbspFeed
      .col-xs-7
        kj-parse(feeds='feeds')
    .col-xs-1


