@import '../../variables.less';

#home {
  .bkgrd-img {
    background-image: url('/assets/art.jpg');
    background-size: cover;
    width: 100%;
    height: 450px;
    margin: 0;
    border-bottom: 3px solid @purple;
    padding-top: 20px;
  }
  .opacity {
    opacity: .4;
    margin: 0;
    width: 100%;
    height: 450px;
  }
  h1 {
    font-size: 3em;
    color: black;
    margin-left: 10%;
  }
}
.current {
  border: 7px solid @border;
  background-color: @white;
  height: 300px;
  overflow: auto;

  .events {
    padding: 20px 10px;
    color: black;
  }
}

.trending {
  .twitter, .rss-feed {
    height: 300px;
    border: 5px solid @border;
    background-color: @white;
    padding: 20px;
    margin: 40px 10px;
    position: relative;
    overflow: auto;
  }
  h2.twitter-header, h2.rss-header {
    font-weight: @lite-wt;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    z-index: 1000;
    margin: 20px;
    position: absolute;
    font-size: 3.5em;
  }
  h2.twitter-header {
    top: 80px;
    left: -40px;
    color: @lite-red;
  }
  h2.rss-header {
    top: 80px;
    left: -75px;
    color: @lite-red;
  }
}
