#events
  .row.bkgrd-img.opacity
    h1.text-center {{occasion.name}}
    .tag {{occasion.type}}
  .row
    .col-xs-1
    .col-xs-5
      article.desc
        h1 Description
        h4 {{occasion.description}}
    .col-xs-5
      .rsvp(ng-click='attend()')
        .fa.fa-fw.fa-calendar.fa-5x.calendar
        h2.pull-right.rsvp-btn(ng-hide='rsvp') I will be attending this!
        h2.pull-right.rsvp-btn(ng-show='rsvp') No longer attending.
      section.venue
          h2 Location of Event Here
      section.usersAttending
          h3 Attending This Event
          h4(ng-show='rsvp') Me
          h4(ng-repeat='attendee in occasion.attendees') {{attendee.name}}
    .col-xs-1
