#events
  .row.bkgrd-img.opacity
    h1.text-center {{title}}
    .tag {{tag}}
  .row
    .col-xs-1
    .col-xs-5
      article.desc
        h1 Description
        h4 {{description}}
    .col-xs-5
      //ng-click on .rsvp
      .rsvp
        .fa.fa-fw.fa-calendar.fa-5x.calendar
        h2.pull-right.rsvp-btn I will be attending this!
      section.venue
          h2 Location of Event Here
      section.usersAttending
          h3 Attending This Event
          h4 Frank
          h4 Jill
          h4 Bubba
    .col-xs-1
