@import '../../variables.less';

#locations {
  margin: -50px;

  h3 {
    font-weight: @lite-wt;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    z-index: 1000;
    margin: 20px;
    position: relative;
    bottom: 265px;
    right: 500px;
    font-size: 4.5em;
    color: @lite-red;
  }
  .find-me {
    display: inline-block;
    position: relative;
    left: 240px;
    margin-bottom: 5px;
  }
  .clearfix {
    margin-top: 40px;
    padding-right: 135px;
  }
  .clear-btn {
    margin-right: 70px;
  }
  #map {
    margin: 0 auto !important;
    margin-top: -60px;
    padding-bottom: 60px;
    border: 5px solid @border;
  }
  .wrapper {
    width: 1000px;
    margin: 0 auto;

    thead {
      font-size: 20px;
      color: @dkturquiose;
    }
  }
}
