h3.text-center {{title}}
.row
  #map
.row
  table.table.table-hover
    thead
      th Name
      th Address
      th Type
      th Distance From You
      th Popularity
    tbody
      tr(ng-repeat='loc in locations'): a(href='/#/locations/{{loc._id}}') 
        td {{loc.title}}
        td {{loc.address}}
        td {{loc.group}}
        td calculation here
        td popularity
