h3.text-center {{title}}
.row
  #map(en-map, lat='{{pos.lat}}', lng='{{pos.lng}}', zoom=8)
  div(en-locate)
.row
  table.table(ng-table='tableParams', show-filter='true')
    tbody
      tr(ng-repeat='loc in locs', data-lat= '{{loc.lat}}', data-lng='{{loc.lng}}')
        td(data-title="'Title'" filter="{ 'title': 'text' }"): a(href='/#/locations/{{loc._id}}') {{loc.title}}
        td(data-title="'Address'") {{loc.address}}
        td(data-title="'Type'", filter="{'type': 'text'}") {{loc.group}}
        td(data-title="'Distance'") calculation here
        td(data-title="'Popularity'") popularity

