h3.text-center {{title}}
.row
  #map
.row
  .col-xs-12
    form.form#change-zip(name='changeZipForm', role='form', novalidate)
      .form-group
        label(for='zip') Need a different Zip code?
          input.form-control.col-xs-2#zip(ng-model='zip', ng-pattern='/^[0-9]{5}$/', type='text', name='zip')


.row
  table.table.table-hover
    thead
      th Name
      th Address
      th Type
      th Distance From You
      th Popularity
    tbody
      tr(ng-repeat='loc in locations'): a(href='/#/locations/{{loc._id}}') 
        td {{loc.title}}
        td {{loc.address}}
        td {{loc.group}}
        td calculation here
        td popularity
