#dashboard
  .row.bkgrd-img.opacity
    .col-xs-2
      i.fa.fa-quote-left.fa-fw.fa-5x.pull-right.quote-mark
    .col-xs-5
      article.quote(data-ng-init='init()')
        h4 Quote of the Day:
        h3 {{quote.body}}
        p {{quote.author}}

    .col-xs-4
      .info
        a: i.fa.fa-pencil.fa-fw.fa-2x.pull-right.edit(ng-click='toggleEdit()')
        div(ng-hide='showEdit')
          h3 {{user.name}}
          h4 {{user.email}}
        div#editForm(ng-show='showEdit')
          form.form(role='form', novalidate)
            .form-group
              label(for='name') Name
                input.form-control(name='name', type='text', ng-model='user.name')
            .form-group
              label(for='email') Email
                input.form-control(name='email', type='text', ng-model='user.email', required)
            button.btn.btn-primary(ng-click='editProfile()') Save
    .col-xs-1
  .row
    .col-xs-1
    .col-xs-5.attending
      .col-xs-3
        i.fa.fa-fw.fa-clock-o.fa-5x.icon
      .col-xs-7
        h1 Attending
        h4 Name of Event
        h5 Location of Event
        h6 Date
        hr
        h4 Name of Event
        h5 Location of Event
        h6 Date
        hr
    .col-xs-5.favorites
      .col-xs-3
        i.fa.fa-fw.fa-heart.fa-5x.icon
      .col-xs-7
        h1 Favorites
        h4 Name of Location
        hr
        h4 Name of Location
        hr
        h4 Name of Location
    .col-xs-1
  .row
    .col-xs-2
    .col-xs-8.reflections
      h1.text-center Your Reflections
      section
        i.fa.fa-pencil.fa-fw.fa-lg.edit
        p.text-right October 10th, 2014
        h3 Wise, if not slightly pedantic.
        h4 A kidney of the match is assumed to be a kittle blow. The literature would have us believe that a brainsick spinach is not but a cancer. Some assert that a combust distributor's cannon comes with it the thought that the direst pentagon is a foam. The first cushy baboon is, in its own way, a range.

      section
        i.fa.fa-pencil.fa-fw.fa-lg.edit
        p.text-right August 24th, 2014
        h3 A sailboat is the oxygen of an answer.
        h4 An observation of the anthropology is assumed to be a trickless window. We can assume that any instance of a hand can be construed as an unfanned consonant. This is not to discredit the idea that they were lost without the charmless fan that composed their shallot. The grease of a cold becomes a lordless locust.

    .col-xs-2

