#dashboard {
  .bkgrd-img {
    background-image: url('/assets/art.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .opacity {
    opacity: .4;
    margin: 0;
    width: 100%;
    height: 400px;
  }
  .quote, .info {
    opacity: 1 !important;
  }
}
