#dashboard
  .row.bkgrd-img.opacity
    .col-xs-2
      i.fa.fa-quote-left.fa-fw.fa-5x.pull-right.quote-mark
    .col-xs-5
      article.quote(data-ng-init='init()')
        h4 Quote of the Day:
        h3 {{quote.body}}
        p {{quote.author}}

    .col-xs-4
      .info
        i.fa.fa-pencil.fa-fw.fa-2x.pull-right.edit(ng-click='toggleEdit()')
        div(ng-hide='showEdit')
          h3 {{user.name}}
          h4 {{user.email}}
        div#editForm(ng-show='showEdit')
          form.form(role='form', novalidate)
            .form-group
              label(for='name') Name
                input.form-control(name='name', type='text', ng-model='user.name')
            .form-group
              label(for='email') Email
                input.form-control(name='email', type='text', ng-model='user.email', required)
            button.btn.btn-primary(ng-click='editProfile()') Save
    .col-xs-1
  .row
    .col-xs-1
    .col-xs-5.attending
      .col-xs-3
        i.fa.fa-fw.fa-clock-o.fa-5x.icon
      .col-xs-7
        h1 Attending
        h4(ng-repeat='event in user.RSVP'): a(href='/#/events/{{event._id}}') {{event.name}}
          h5 {{event.loc}}
          h6 {{event.date.date | date: 'MMM d, yyyy'}} at {{event.date.startTime | date: 'h:mma'}}
          hr
    .col-xs-5.favorites
      .col-xs-3
        i.fa.fa-fw.fa-heart.fa-5x.icon
      .col-xs-7
        h1 Favorites
        h4(ng-repeat='loc in user.favoriteLocations'): a(href='/#/locations/{{loc._id}}') {{loc.title}}
          hr
    .col-xs-1
  .row
    .col-xs-2
    .col-xs-8.reflections
      h1.text-center Your Reflections
      section(ng-repeat='reflection in reflections')
        .reflect-display(ng-hide='showReflect[$index]')
          i.fa.fa-pencil.fa-fw.fa-lg.edit(ng-click='toggleReflect($index)')
          div
            p.text-right {{reflection.date | date: 'MMM d, yyyy'}}
            h3 {{reflection.title}}
            h4 {{reflection.text}}
        .reflect-edit-form.flipInX(ng-show ='showReflect[$index]')
          form.form(role='form', novalidate)
            .form-group
              label(for='name') Title
                input.form-control.col-xs-12(name='title', type='text', ng-model='reflection.title')
            .form-group
              label(for='body') Body
                textarea.form-control(name='body', type='text', cols='95', rows='5', ng-model='reflection.text')
            button.btn.btn-primary(ng-click='editReflection($index)') Save
            button.btn.btn-warning.pull-right(ng-click='toggleReflect($index)') Back

    .col-xs-2

