div
  flip-panel(flip-width='200px', flip-height='100px')
    div A A A
  flip-panel(flip-width='200px', flip-height='100px')
    div B B B
div
  flip-panel(flip-width='200px', flip-height='100px')
    div A A A
  flip-panel(flip-width='200px', flip-height='100px')
    div B B B
